@yellow: #fcfbae;
.jumbotron {
    background-color: @yellow;
    color: black; }
  
  h1 {
    font-style: italic;
    color: white;
    margin-top: 0px; }
  
  h3 {
    font-style: italic; }
  
  h4 {
    font-style: italic; }
  
  footer {
    padding: 10 px 10px 0 10px;
    background-color: @yellow;
    margin-top: 10px;
    margin-bottom: 5px; }
  
  .cover {
    height: 300px;
    background-image: url("../assets/pizza.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken; }
  
  .card-pizza {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    margin-bottom: 5px; }
  
  .card-title {
    min-height: 2rem; }
  
  .card-link {
    min-height: 5rem; }
  
  .footer-icons {
    padding-right: 10px; }
  